
$light-gray: #F2EFE6;
$gray: #F5F4F1;
$dark: #464646;
$black: #000;
$white: #fff;
$light-beige: #f5f4f1;
$beige: #f2efe6;
$blue-reference-dev: #3e52a3;
$blue-arrow-slick: #202046;
$blue-company: #3A41A9;
$blue-footer: #223169;