.checklist{
    .container{
        padding-top: 80px;
        padding-bottom: 80px;
        .title{
           text-align: center;
           font-family: Ubuntu;
           font-style: normal;
           font-weight: bold;
           font-size: 32px;
           line-height: 37px;
           margin-bottom: 47px;

            @media screen and (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }

        .itens{
            display: flex;

            div{
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;

                p{
                    margin-top: 20px;
                    i{
                        display: none;
                    }
                }

                @media screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: row;

                    img{
                        display: none
                    }

                    p{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        i{
                            margin-right: 17px;
                            display: block;
                        }
                    }
                }

                img{
                    width: 50px;
                    margin: 0 auto;
                }
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        }
    }
}