.checklist{
    .container{
        padding-top: 80px;
        padding-bottom: 80px;

        .title{
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $black;
            flex: none;
            order: 0;
            align-self: center;
            margin: 10px auto 57px;
            width: 485px;
            flex-wrap: wrap;


            @media screen and (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }

        .itens{
            display: flex;

            div{
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;

                p{
                    i{
                        display: none;
                    }
                }

                @media screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: row;

                    img{
                        display: none
                    }

                    p{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;

                        i{
                            margin-right: 17px;
                            display: block;
                        }
                    }
                }

                img{
                    width: 50px;
                    margin: 0 auto;
                }
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        }
    }

    #carousel-container{
        margin-bottom: 160px;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
        position: relative;

        .carousel-wrapper{
            position: relative;
            width: 100%;
            overflow: hidden;
            z-index: 2;

            .carousel{
                width: 100%;

                button.slick-prev.slick-arrow{
                    display: flex !important;
                    background-color: #000;
                    height: 40px;
                    width: 30px;
                    justify-content: center;
                    left: calc(95vw / 2);
                    position: absolute;
                    z-index: 9;
                }
                button.slick-next.slick-arrow{
                    display: flex !important;
                    background-color: #000;
                    height: 40px;
                    width: 30px;
                    justify-content: center;
                    right: calc(95vw / 2);
                    position: absolute;
                    z-index: 9;
                }
                
                .slick-list.draggable{
                    right: 10px;
                }
    
                .slick-track{
                    width: 3000px !important;
                    display: flex;
                    justify-content: space-around;
                }
    
                .slick-slide.slick-active, .slick-slide{
                    margin: 0 28px;
                }
            }
        }

        .carousel-phone{
            background: url("../../assets/images/carousel/phone-front.png") top center no-repeat;
            background-size: 320px 604px;
            height: 604px;
            width: 320px;
            margin: auto;
            pointer-events: none;
            position: absolute;
            top: -39px;
            left: 0;
            right: 1px;
            z-index: 3;

            @media screen and (max-width: 767px) {
                top: 1140px !important;
            }
        }
    }
}