.footer{
    background-color: $yellow;

    .container{
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        .title{
            margin-bottom: 40px;
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
        }

        .btn-download{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 223px !important;
            margin: 0 auto;
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            
            @include btn-download($black, $white);
        }
    }
    .last-container{
        background: $black;
        height: 148px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
            color: $white;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
        }
        .logo-white{
            width: 135px;
            height: 50px;
            filter: invert(100%);
        }
    }

    @media screen and (max-width: 540px) {
        .last-container{
            flex-direction: column;
            height: 220px;
            justify-content: space-evenly;
        }
    }
}