.header{
    background-color: $gray;

    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: center;

        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
        }

        .logo{
            width: 112px;
            display: flex;
            align-items: center;

            img{
                width: 100%;
            }
        }

        .btn-download{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 220px;
            background: $black;
            color: $white;
            border-radius: 8px;

        &:hover{
            background: $yellow;
            color: $black;
            font-weight: bold;
            text-decoration: none;
        }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}