.header{
    background-color: $gray;

    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;

        @media screen and (max-width: 767px) {
            display: flex;
            justify-content: center;
        }

        .logo{
            width: 150px;
            display: flex;
            align-items: center;

            img{
                width: 100%;
            }
        }

        .btn-download{
            @include btn-download($black, $white);

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}