.modal-content{
  width: 100%;
  height: 90vh;

    .modal-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .form-text {
        display: flex;
        flex-direction: column;

        .cta-title{
          font-family: 'Ubuntu', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 37px;
        }
        .cta-text{
          font-family: 'Nunito', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }

      input{
        width: 100%;
        background: $gray;
        border: none;
        border-radius: 14px;
        padding: 15px;
      }
    }

    .form-group{
      display: flex;
      flex-direction: column;
      align-items: center;

      .confirm-btn{
        width: 80%;
        margin-top: 40px;
        background: black;
        color: $white;
        border: none;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 10px;
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        
      }
      .cancel-btn{
        border: none;
        background: none;
        text-decoration: underline;
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
      }
    }
}