.products{
    background-color: $ocre;
    display: flex;
    flex-direction: column;

    .container{
        padding-top: 80px;
        padding-bottom: 80px;

        .title{
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 37px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $black;
            margin-bottom: 40px;
        }

        .card-ebooks{
            margin: 0 auto;
            display: flex;
            height: 300px;
            width: 570px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            a{
                text-decoration: none;
                color: $black;
            }
            .card{
                width: 224px;
                height: 250px;
                background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
                border: 2px solid #000000;
                box-shadow: 10px 10px 0px #000000;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                text-align: center;

                img{
                    width: 120px;
                    height: 120px;
                }
                p{
                    width: 192px;
                    height: 66px;  
                    line-height: 18px; 
                }
                strong{
                    font-family: Ubuntu;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;

                    text-align: center;
                }
            }

            @media screen and (max-width: 780px){
                flex-direction: column;
                width: auto;
                height: auto;
                .card{
                    margin-bottom: 40px;
                }
            }
        }

        .message{
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-size: 16px;
            line-height: 22px;
            align-items: center;
            text-align: center;
            width: 486px;
            color: #000000;
            flex-wrap: wrap;
            margin: 0 auto 40px;

            span{
                font-weight: bold;
            }

            @media screen and (max-width: 780px){
                width: auto;
            }
        }

        .btn-download{
            text-transform: uppercase;
            width: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            margin: 0 auto;
            
            @include btn-download($black, $white);
        }

    }
}