.thank-you-page{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  .bg-yellow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 270px;
    background: $yellow;
    align-items: center;
    margin-bottom: 30px;

    div{
      display: flex;
      align-items: center;
      h1{
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 69px;
        text-align: center;
      }
      img{
        height: 55px;
        padding-left: 10px;
      }
    }
  }
  
  h2{
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .text{
    height: 400px;
    display: flex;
    flex-direction: column;

    .download-ebooks{
      margin: 0 auto;
      display: flex;
      height: 300px;
      width: 570px;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      a{
        text-decoration: none;
        color: $black;
        }
      .card{
          width: 224px;
          height: 250px;
          background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
          border: 2px solid #000000;
          box-shadow: 10px 10px 0px #000000;
          border-radius: 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          
          img{
              width: 120px;
              height: 120px;
              margin-bottom: -20px;
          }
          p{
              width: 192px;
              height: 66px;  
              line-height: 18px; 
              font-weight: normal;
          }
          strong{
              font-family: Ubuntu;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              text-align: center;
          }
      }
    }

    p{
      margin-top: 30px;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }
    h3{
      margin-top: 20px;
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
    }
    .btn-download{
      margin: 40px 20px 150px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 220px;
        background: $black;
        color: $white;
        border-radius: 8px;



      border: none;

      padding: 15px;
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      margin: 50px auto;
    }
  }

  @media screen and (max-width: 600px){
    .text{
      justify-content: center;
      p,h3 {
        text-align: start;
        padding-left: 20px;
        padding-right: 20px;
      }
  
      .btn-download{
        margin: 40px 20px 150px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 220px;
        background: $black;
        color: $white;
        border-radius: 8px;
      }
    }
  }
}