.thank-you-page{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  .bg-yellow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 270px;
    background: $yellow;
    align-items: center;
    margin-bottom: 30px;

    div{
      display: flex;
      align-items: center;
      h1{
        font-family: Ubuntu;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 69px;
        text-align: center;
      }
      img{
        height: 55px;
        padding-left: 10px;
      }
    }
  }
  
  h2{
    margin-top: 30px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .text{
    height: 400px;
    display: flex;
    flex-direction: column;

    p{
      margin-top: 30px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }
    h3{
      margin-top: 20px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      text-align: center;
    }
    button{
      width: 203px;
      background: black;
      color: $white;
      border: none;
      border-radius: 8px;
      padding: 15px;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      margin: 50px auto;
    }
  }

  @media screen and (max-width: 600px){
    .text{
      justify-content: center;
      p,h3 {
        text-align: start;
        padding-left: 20px;
        padding-right: 20px;
      }
  
      button{
        margin: 40px 20px 150px;
      }
    }

  }
}